.about {
    background: #eee;
    padding: 3rem 0;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__header {
        width: 100%;
        display: flex;
    }

    &__team {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;

    }
    img{
        width: 400px;
    }
}
