.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    padding: 1.5rem;
    background: #ffffff;
    backdrop-filter: blur(15px);
    z-index: 999 !important;


    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__items {
        width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .4s linear
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo__title,
    &__logo__pany {
        font-size: 30px;
        font-weight: 600;
        color: #1BBD36;
        text-transform: uppercase;
    }

    &__logo__pany {
        font-weight: 500;
        color: #000;
    }

    &__logo-link {
        background: none !important;
        display: flex;
        align-items: center;
    }

    &__items__sidebar {
        background: transparent;
        display: none;
    }


    &__item-link {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        color: #000;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0px;
            height: 2.5px;
            bottom: -10px;
            background: #1BBD36;
            transition: all .3s;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
        }


        &:hover::before {
            width: 100%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }

    &__item__x {
        display: none;
    }

    .active {
        color: white;
        background: #1BBD36;
        padding: 7px 15px;
        border-radius: 10px;
        text-transform: capitalize;
        box-shadow: 1px 3px 10px black;
    }
}